section.section.index_section.demo_mod
	.section__in
		if sectionArray.title
			h1.section__title!= sectionArray.title
		if sectionArray.description
			.section__description!= sectionArray.description
