$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   false !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     false !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

$develop:true;
$production:false;
$all:true;
$ie9:false;
$ie8:false;
$ie7:false;
$doc:false;
$local_var:global;
$holydat_var:none;

@import "mixins";
@import "variables";
@import "extends/others_extends";
@import "extends/project_extends";
@import "extends/buttons_extends";
@import "extends/flex_extends";
@import "extends/transition_extends";
@import "extends/typography/typography";
