extends ../layout/layout

block vars
	//- include ../templates/project-vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index', template_name: 'index'}

block content_block
	section.section.info 
		div.info_content 	
			h1.info_title Re-imagining TB Care
			p Vestibulum id ligula porta felis euismod semper maecenas sed diam	eget risus varius blandit sit amet non magna nullam id dolor id	nibh ultricies.
			a.info_link(href="#") play video
	