.some_block 
	.some_element.js-fade-item
		//- any content here
		//- animation wil be play with default configuration

	.some_element.js-fade-item(data-fade-duration=0.5 data-fade-direction='left')
		//- any content here
		//- data-attributes will set custom configuration of animation

				
		//- List of available data attributes

			//-	data-fade-trigger
						set the trigger for play animation
			//-	data-fade-start
						set the start point for animation
			//-	data-fade-duration
						set duration of animation
			//-	data-fade-ease
						set the type of ease for animation
			//-	data-fade-direction
						set direction of movement element during it appear
			//-	data-element-start-position
						set the position of element before animation
			//-	data-element-end-position
						set the position of element after animation