include ../templates/_global_vars
include ../templates/_global_mixins
include ../templates/mixins/_m_header
include ../templates/mixins/_m_footer

//- It is commented for optimization reasons
//- include ../templates/_project_vars
//- include ../templates/_project_mixins

block vars
block project_vars

doctype
html(lang="en" data-template-name= array.template_name)
	head
		+head(array)
	body(class= array.body_class)
		.preloader
		+header
		.wrapper(class= array.layout_mod)
			.base(class= array.layout_mod)
				block content_block
			+footer
		block local_popup
