.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon_check {
	font-size: math(32, 10)*1rem;
	width: math(32, 32)*1em;
}
.icon_empty {
	font-size:math(45.44, 10)*1rem;
	width:math(45.44, 45.44)*1em;
}
