//- Example of usage
//- +pagination({
//- 	[{name: '1'}, {name: '2', current: true}, {name: '3'}],
//- 	arrows: true
//- })

mixin pagination(data)
	nav.pagination
		if data.arrows
			.pagination__arrow.pagination__arrow--prev_mod
					+icon('arrow', 'icon--size_mod')
		ul.pagination__list 
			each item in data.pagination
				li.pagination__item
					a(href="#" class=`${item.current && 'pagination__link--current_mod'}`).pagination__link!= item.name
		if data.arrows
			.pagination__arrow.pagination__arrow--next_mod
				a(href="#").pagination__link
					+icon('arrow', 'icon--size_mod')