.pagination {
	display: flex;
	justify-content: center;
}

.pagination__list {
	display: flex;

	margin-right: -2rem;
}

.pagination__item {
	padding-right: 2rem;
}

.pagination__arrow {
	width: 2rem;
	height: 2rem;

	&.pagination__arrow--next_mod {
		&:not(:first-child) {
			margin-left: 2rem;
		}
	}

	&.pagination__arrow--prev_mod {
		transform: rotate(-180deg);

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.pagination__link {
	&.pagination__link--current_mod {
		pointer-events: none;
	}
}