//- simple:
+picture({
	img: 'img_name',
	class: 'section_bg',
	img_class: 'section_bg__img',
})


//- full:
+picture({
	jpeg: false,
	png: false,
	media: 1024,
	is2x: false,
	class: 'section_bg',
	img_class: 'section_bg__img',
	img: 'img_name',
	img_mob: 'mob_img_name'
})
